@import url("http://fonts.cdnfonts.com/css/apercu");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff0e5;
  font-family: "Apercu", sans-serif;
  font-family: "Apercu Mono", sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

li {
  list-style: none;
}

nav a {
  text-decoration: none;
  color: inherit;
}

/* Header */

nav {
  width: 100%;
}

img {
  width: 130px;
}

#header-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: sticky;
  background-color: #fff0e5;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 130px;
  padding-right: 130px;
}

#header-container:hover {
  background-color: #fff;
  border-bottom: solid 1px black;
}

nav ul {
  display: flex;

  align-items: center;
  justify-content: flex-start;
}
.nav-align-right {
  display: flex;
  justify-content: flex-end;
  padding-left: 0;
}
nav li {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
.search-logo {
  width: 20px;
}

.menu {
  display: none;
}

.menu-lines {
  width: 20px;
  height: 2px;
  background-color: black;
  margin-bottom: 3px;
}

/* Header Ends */

/* Main start */
.main-container {
  padding-left: 130px;
  padding-right: 130px;
}
.main-wraper {
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  padding: 32px 0px 32px 0px;
}

.main-item {
  max-width: 560px;

  padding: 50px 0 50px 0;
}
.main-image {
  max-height: auto;
  width: 100%;
  min-width: 20rem;
}
input {
  width: 100%;
  height: 2rem;
}
.sign-btn {
  width: 80px;
  height: 40px;
  border-radius: 4px;
  padding: 4px 4px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1rem;
  background-color: #3a10e5;
  color: #fff;
}
.vertical-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 15% 0 15%;
}
.input {
  padding: 0.8rem 0.5rem;
} /* why not working ?*/

.sign-up-logos {
  display: flex;
  margin-top: 20px;
}

.sign-up-logos img {
  height: 60px;
  width: 60px;
  padding: 20px;
  background-color: #fff;
  margin-right: 15px;
  border: solid 1px black;
}
/* Main Ends */

/* Self pace section start */

.self-container {
  padding: 96px 130px;
  background-color: #10162f;
  color: #fff;
  display: flex;
  justify-content: space-between;
  gap: 96px;
}
.self-wrapper {
  min-width: 400px;
}
.self-wrapper img {
  max-height: auto;
  width: 100%;
  min-width: 15rem;
}
.self-wrapper h2 {
  font-size: 2rem;
  margin-bottom: 48px;
}
.self-wrapper li {
  font-size: ;
  padding: 8px 0 8px 8px;
  margin-bottom: 16px;
}
.self-wrapper li:hover {
  background-color: #3a10e5;
}

/* Self pace section end */

/*Respnisve media */
@media all and (max-width: 1050px) {
  .menu {
    display: block;
  }
  .hide-list-header {
    display: none;
  }
  .main-wraper {
    display: block;
    margin: auto;
    width: 80%;
  }
  .self-container {
    flex-wrap: wrap;
  }
}
